<table class="table table-hover table-bordered" id="tabela-mensagens">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Autor</th>
        <th>Canal</th>
        <th>Data de Envio</th>
        <th>Mensagem</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div th:replace="/adminPanel/pageControl"></div>
<script>
    const tabelaBody = document.getElementById("tabela-mensagens").getElementsByTagName('tbody')[0];
    let count;
    fetch(`/admin/findallmessages?page=${page}`).then(function(response) {
        let contentType = response.headers.get("content-type");
        if(contentType && contentType.indexOf("application/json") !== -1) {
            return response.json().then(function (json) {
                // console.log(json)
                count = json.length;
                json.map(mensagem => {
                    let tableRow =
                        `<tr>\n` +
                        `    <td>${mensagem.id}</td>\n` +
                        `    <td>${mensagem.author.toString().replace(/</g, "&lt;").replace(/>/g, "&gt;")}</td>\n` +
                        `    <td>${mensagem.channel.toString().replace(/</g, "&lt;").replace(/>/g, "&gt;")}</td>\n` +
                        `    <td>${new Date(mensagem.date).toLocaleDateString()}</td>\n` +
                        `    <td>${mensagem.message.toString().replace(/</g, "&lt;").replace(/>/g, "&gt;")}</td>\n` +
                        `</tr>\n`;
                    $(tabelaBody).append(tableRow);
                });
            }).finally(function (){
                fetch('/admin/pageableSize').then(function (response) {
                    let contentType = response.headers.get("content-type");
                    if(contentType && contentType.indexOf("application/json") !== -1) {
                        return response.json().then(function (json) {
                            if ((document.getElementById("tabela-mensagens").getElementsByTagName('tr').length - 1) < json.pageableSize) {
                                $("#btn-next-page").prop("disabled", true)
                            }
                        });
                    }
                });
            });
        } else {
            console.log("Oops, we haven't got JSON!");
        }
    });
</script>