<div class="form-cool">
    <button type="button" class="btn btn-outline-primary btn-block" onclick="window.location.href = '/admin/panel/mensagens/todas'">Todas as Mensagens</button>
    <button type="button" class="btn btn-outline-primary btn-block" onclick="window.location.href = '/admin/panel/mensagens/id'">Buscar por ID</button>
    <button type="button" class="btn btn-outline-primary btn-block" onclick="window.location.href = '/admin/panel/mensagens/autor'">Buscar por Autor</button>
    <button type="button" class="btn btn-outline-primary btn-block" onclick="window.location.href = '/admin/panel/mensagens/conteudo'">Buscar por Conteudo</button>
</div>